* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    padding-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20%;
    background-color: #2e1e88;
    align-items: center;
}
nav {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e1e88;
    padding: 0 1rem;
}

.hamburger-menu {
    display: block;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.nav-links {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
}
.show-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}
#logo,
#adress,
#phone {
    background-color: #2e1e88;
}
#logo {
    width: 20%;
    color: white;
}
#logo img {
    width: 13%;
    margin-right: 10px;
    filter: invert(100);
}
#logo figure {
    display: flex;
    align-items: center;
}
#adress {
    color: white;
    margin-right: 35%;
    width: 20%;
}
#phone {
    margin-left: auto;
    color: white;
    display: flex;
    flex-direction: column;
}
#phone span {
    margin-left: auto;
    padding: 0 0.45em;
}
#phone button {
    background-color: orange;
    color: white;
    line-height: 1.4em;
    border-radius: 20px;
    padding: 0.15em 0.65em;
}
#mainBlocks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    padding-top: 5dvh;
}
#textBlock {
    padding-left: 0.5dvw;
    width: 100%;
    border-left: #2e1e88;
    border-left-width: 4px;
    border-left-style: solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 4px;
}
#textBlock h1 {
    font-size: 50px;
    padding: 0.2em 0.2em 0;
}
#textBlock h2 {
    color: gray;
    padding: 0.2em;
}
#textBlock p {
    width: 40%;
    padding: 0.2em;
}
#formBlock {
    margin-top: 50px;
    width: 40%;
}
#imgBlock {
    margin-top: 50px;
    width: 30%;
}
#imgBlock img {
    width: 100%;
    position: relative;
    right: 13%;
    top: -18dvh;
}
#formBlock form {
    background-color: #2e1e88;
    padding: 0.5em;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#formBlock form span {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 0.5em;
    text-align: center;
}
.textInp {
    width: 45%;
    margin-left: 3%;
    line-height: 2.25em;
    border-radius: 10px;
    margin-bottom: 0.5em;
}
textarea {
    width: 93%;
    margin-left: 3%;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
label {
    display: flex;
    align-items: center;
    width: 42%;
    margin-left: 8%;
}
label input {
    margin-right: 1em;
}
form button {
    width: 35%;
    padding: 0.3em 0.4em;
    margin-left: 8%;
    border-radius: 10px;
    background-color: orange;
    color: white;
}
@media (max-width: 1650px) {
    #imgBlock {
        width: 32%;
    }
    #imgBlock img {
        top: -9dvh;
    }
}
@media (max-width: 1450px) {
    #imgBlock {
        width: 36%;
    }
    #imgBlock img {
        top: -7dvh;
    }
    #phone span {
        padding: 0.1em;
    }
}
@media (max-width: 1300px) {
    .header {
        padding-left: 15%;
        padding-right: 15%;
    }
    #imgBlock img {
        top: -5dvh;
    }
}
@media (max-width: 1150px) {
    #imgBlock {
        width: 40%;
    }
    #imgBlock img {
        top: -5dvh;
    }
}
@media (max-width: 1000px) {
    #adress {
        display: none;
    }

    .header {
        padding-left: 5%;
        padding-right: 15%;
    }
    #mainBlocks {
        margin-left: 5%;
    }
    #imgBlock {
        width: 50%;
    }
    #imgBlock img {
        position: relative;
        width: 130%;
        right: 11dvw;
    }
}
@media (max-width: 779px) {
    .header {
        padding-right: 5%;
    }
    #phone {
        display: none;
    }
    #logo span {
        display: none;
    }
    #logo {
        margin-left: auto;
    }
    #logo img {
        width: 30%;
        margin-left: auto;
        filter: invert(100);
    }
    #imgBlock {
        display: none;
    }
    #textBlock p {
        width: 90%;
    }
    #formBlock {
        width: 95%;
    }
}
